

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-size: 16px;
}

a {
	color: #47a3da;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #fff;
}

.container > header {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 30px;
}

.container > header nav {
	text-align: center;
	padding: 65px 10px 0 0;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	padding-top: 5px; 
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}


.container > header nav a:hover {
	background: #47a3da;
}

p.info {
	text-align: center;
	padding: 20px;
	font-size: 13px;
}

img.logo {
	width: 90%;	
	margin-left: 5%;

}


/* Contenido */

.content section {
	font-size: 20px;
	padding: 10px;

}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

.content section > h1 {
	font-size: 30px;
	line-height: 1.3em;
	margin: 0 0 0.6em 0.2em;
	font-weight: 400;
	color:#fb8804;
}

.mediabox {
	width: 90%;
	margin: 5%;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
	font-size: .90em;  

}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 3%;
	line-height: 1.3em;
	font-size: 0.75em;
}


@media only screen and (min-width: 480px){

img.logo {
width: 300px;
margin: auto;
display: block;
}

h1{
	padding-left: 5%;
}

.content{
	width: 90%;
	margin-left: 5%;
}

.mediabox {
	float: left;
	width: 40%;
	padding-bottom: 5px;
}


.mediabox img {
	width: 100%;
	margin: auto;
}

}



@media only screen and (min-width: 1024px){

.container > header {
	width: 90%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 30px;
}

img.logo {
	float: left; 
	width: 300px;
}

/* Contenido */

.content section {
	font-size: 20px;
	padding: 16px;
	max-width: 1150px;
	margin: 0 auto;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px 25px 10px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3em;
	font-size: 0.75em;
}

}
