@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #333;
	line-height: 1.6;
	text-align: center;
	background-color: white;

}

/*header*/

nav {
	background-color: #1A89BA;
	
}

nav a {
	color: #ffffff;
	text-decoration: none;
	display: none; /*hamburger nav*/
	padding: .5em;
}

nav a#mobilenav {
	font-size: 2em;
	padding: 0;
	display: block;/*hamburger nav*/
}

nav a:hover {
	background-color: #FC9956;
}

nav:hover a {
	display: block;	/*hamburger nav*/
}

#top_icon{
	display: block;
	width: 45px;
	height: auto;
	margin: .55em auto .01em;
}

.logoname{
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	color: #1A89BA;
} 

.a{
	font-size: .75em;
	text-decoration: none;
	color: #F58235;
}

#coverimg{
	width: 100%;
	height: auto;
}

/*Parrafo de Intro*/

#homecovertext p{
	
	font-family: 'Helvetica', sans-serif;
	color: #444;
	font-size: 1.2em;	
	line-height: 1.5;
	padding: 1em;
}

#homecovertext{
	width: 90%;
	height: auto;
	/*background-color: #FC9956;	*/
	border: 5px solid #FC9956;
	/*border-radius: 20px;*/
	border-radius: 7px 50px 30px;
	margin: 0 5% 2.5em;
}

/*Content Style*/

/*First Row*/

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
}

#area1_row1{
	display: block;
	width: 90%;
	background: #1A89BA;
	border-radius: 20px;	
	margin: 0 auto 1.3em;
	color: #ffffff;
	padding: 1em;
}

/*#pic-ssa{
	width: 90%;
	height: auto;
	border-radius: 20px;
}*/

#area2_row1{
	display: block;
	width: 90%;
	background: #1A89BA;
	margin: 0 auto 1.3em;
	border-radius: 20px;
	color: #ffffff;
	padding: 1em;
	text-align: left;
}

li{
	text-align: center;
	line-height: 2; 	
	text-transform: uppercase;
}

#isla_row1{
	width: 90%;	
	background-color: #555;
	border-radius: 20px;
	color: #ffffff;
	margin: 0 auto 1.3em;
}

#pic-area2{
	display: none;
}

#mapaisla{
	width: 90%;
	height: auto;
	margin: 2em 1em 2em;
}

/*Ventajas*/

.img_ventajas{
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

#row2:after{
	display: block;
	content: "";
	clear: both;
	height:0;
	font-size: 0;
	visibility: hidden;
}
.row2_p_style{
	width: 150px;
	margin: auto;	
	text-align: center;
}

.row2_mini_divs{	
	width: 100%;
	height: 200px;
	display: block;
	/*background-color: black;*/
	margin: auto;
	margin-bottom: 2em;
}

/*Row3*/

#row3{
	background-color: #333;
	padding: 1.5em;
	color: white;
}

#aboutpic{
	width: 90%;
	height: auto;
	display: block;
	border-radius: 100%;
	border: 10px solid #F7931E;
	margin: auto;
}

.p_row3{
	padding: 1.5em;
}

#s_row3{
	font-size: 1.5em;
}

@media only screen and (min-width : 500px){


	body {
		font-size: 14px;
	}


	#row1_mini_wrapper{	
		display: block;
		float: left;
		width: 45%;
		margin: 2.5%
	}

	#isla_row1{
		display: block;
		float: right;
		width: 45%;
		margin: 2.5%;	
		height: auto;
	}

	#pic-area1{
		display: none;
	}


	#row1:after{
		display: block;
		content: "";
		clear: both;
		height:0;	
		visibility: hidden;
	}

	.row2_mini_divs {
		width: 45%;
		height: auto;
		float: right;
		margin: 2.5%;
		margin-top: 5%;			
	}

	#aboutpicdiv{
		float: right;
		width: 40%;
		margin: auto;
		margin-right: 7%;		
		height: auto;
	}

	#aboutinfo{
		float: left;
		width: 50%;
	}

	#row3:after{
		display: block;
		content: "";
		clear: both;
		height:0;	
		visibility: hidden;
	}
}


@media only screen and (min-width: 768px) {

	body {
		font-size: 14px;
	}

	/*	Header Style*/

	#homecovertext{ /*Text in the image*/
		position: absolute; 
    	top: 100px;     	
    	width: 400px; 



    	font-size: 1.2em;
    	/*background-color: white;  */  	
		height: auto;
		border:none;		
		border-radius:none;
		margin: 0 1em 2.5em;
	}

	#introduction{		
   		width: 100%;   		
	}

	.row2_mini_divs {
		width: 20%;
		margin: 2.5%;
		float: left;
	}

	

	#top_icon{
		
		margin: 1em;	
		display: inline-block;
		float: left;
	}
	.logoname{
		display: inline-block;
		float: left;
		margin-top: 1em;
		margin-left: 1em;
	}


	/*Navigation Bar*/
	nav a#mobilenav{
		display: none;
	}

	nav a:hover {
		color: #FC9956;
		background-color: #FFFFFF;
	}

	nav a{
		float: right;
		text-decoration: none;	
		color:#707375;	
		font-size: 1.0em;
		margin: 1.5em .50em 0; 	
		display: inline-block;
	}
}

@media only screen and (min-width: 1024px){
	
	#page {
		width: 1024px;
		margin: 0 auto;
	}

	#aboutpicdiv{
		float: right;
		width: 35%;
		margin: auto;
		margin-right: 7%;		
		height: auto;
	}

	#aboutinfo{
		float: left;
		width: 50%;
	}
}